---
---

@import "{{ site.theme }}";

.main-content {
  max-width: inherit;
}

a:hover {
  text-decoration: none;
}

.page-header {
  padding: 0 0 0 0;
  background-image: none;
}

.site-footer{
  padding-top: 1rem;
  margin-top: 1rem;
}

pre {
  direction: ltr
}
